<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<form method="post" action="/app/delete/comment/check">
	{% csrf_token %} <input type="hidden" name="entry_id"
		value="{{del_entry_id}}" />
	<p>
		<label for="name">글쓴이</label><input type="text" id="name" name="name"
			value="" />
	</p>
	<p>
		<label for="password">비밀번호</label><input type="password" id="password"
			name="password" value="" />
	</p>
	<p>
		<input type="submit" value="확인" />
	</p>
</form>